<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <a href="https://apps.apple.com/us/app/mental-math-basic-operations/id1550836082"><img src="img/portfolio/MentalMath.jpg" class="img-responsive" alt=""></a> 
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Education
                            </div>
                            <div class="project-name">
                                Mental Math
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/CumulusWeather.jpg" class="img-responsive" alt="">
                    <a href="https://apps.apple.com/us/app/cumulus-weather/id1441446893"</a>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Weather
                            </div>
                            <div class="project-name">
                                Cumulus Weather
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/CollegeVenue.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Social Networking
                            </div>
                            <div class="project-name">
                                College Venue
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
